<div class="navs">
  <div class="navbar">
    <div class="contact">
      <div style="display: flex; gap: 3px;">
        <div> <i class="fa-regular fa-envelope"></i></div>
        <div> Email:ratheesh123@gmaail.com</div>
      </div>
      <div style="display: flex; gap: 3px;">
        <div><i class="fa-solid fa-phone"></i></div>
        <div> Call us:+919398333365</div>
      </div>
    </div>
    <div class="menu">
      <div>c</div>
      <div style="display: flex;gap: 3px; ">
        <div [routerLink]="['login']"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="13"
            fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
          </svg>Login</div>

      </div>
      <div style="display: flex; gap: 3px;">
        <div> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="13" fill="currentColor" class="bi bi-cart-fill"
            viewBox="0 0 16 16">
            <path
              d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
          </svg></div>
        <div> Cart</div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="nav" style="background-image: linear-gradient(rgb(15, 171, 15),lightgreen); margin-top: 20px;">
      <div class="logo"><a [routerLink]="['']">
          <img src="assets/images/plant logo.png" alt="" width="" height="30px"
            style="position: absolute; margin-top: 13px; margin-left: 10px;">
        </a></div>
      <div class="menu2">
        <div>
          <div class="dropdown">
            <button class="dropbtn">Dropdown</button>
            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </div>
        </div>
        <div>
          <div class="dropdown">
            <button class="dropbtn">Dropdown</button>
            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </div>
        </div>
        <div>
          <div class="dropdown">
            <button class="dropbtn">Dropdown</button>
            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </div>
        </div>
        <div>
          <div class="dropdown">
            <button class="dropbtn">Dropdown</button>
            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </div>
        </div>
        <div class="input"><input type="search" name="" id="inp"><svg xmlns="http://www.w3.org/2000/svg" width="16"
            height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
          </svg></div>
      </div>
    </div>
  </div>

</div>


<router-outlet></router-outlet>